html,
body,
#root,
#root > div {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

#body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 24px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
@font-face {
  font-family: "suit";
  src: url("./styles/fonts/SUIT-Medium.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "suitB";
  src: url("./styles/fonts/SUIT-Bold.woff2");
  font-weight: bold;
}
