#signUpLayout {
  width: 1000px;
  height: 100vh;
  background-color: white;
  align-items: center;
}

#head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto";
  font-size: 20px;
  margin-right: 20px;
  text-align: center;
  color: black;
  margin-top: 30px;
  height: 100px;
}
#outline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 352px;
}

.form {
  width: 352px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #9c9c9c;
}
input[type] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-left: 5px;
}

button.btn {
  width: 339px;
  height: 49px;
  background-color: #ed7567;
  border-radius: 7px;
  color: white;
  margin-left: 5px;
  margin-top: 30px;
  border: none;
}
#health {
  margin-left: 20%;
  align-items: center;
  margin-bottom: 100px;
}
@media (min-width: 200px) and (max-width: 900px) {
  #health {
    margin-left: 10%;
  }
}
